* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


img[alt="paytmhzlogo"] {
  width: 250px;
}
img[alt="paytmsqlogo"] {
  width: 110px;
}
a {
  text-decoration: none;
  color: #000000;
}
li {
  list-style: none;
}
/* header section */
header {
  margin: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
header ul li {
  list-style: none;
  font-size: 23px;
  font-weight: 600;
}
header ul li:hover {
  background-color: #f6f6f6;
  padding: 15px;
}
header div a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00baf2;
  padding: 8px 25px;
  border-radius: 25px;
}
header div a p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
header div a img {
  width: 35px;
  background-color: #002970;
  padding: 5px;
  border-radius: 25px;
}
header div a:hover {
  background-color: #002970;
}
/* kyc mini   heading section */
.kyc {
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px 0px;
}
.kyc p {
  font-size: 20px;
  font-weight: 400;
}
.kyc p a {
  font-weight: 500;
}
.kyc p span {
  font-weight: 500;
}
/* intro section */
img[alt="introimage"] {
  width: 700px;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.leftintro {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  margin-left: 10px;
}

.leftintro h1 {
  font-size: 75px;
}
.leftintro .introtext p {
  font-size: 27px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 10px;
}
.downloadapp a {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #000000;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid black;
}
.downloadapp a ul {
  display: flex;
  gap: 20px;
}
.downloadapp a p {
  font-size: 22px;
}
.downloadapp a:hover {
  background-color: #fff;
  color: #000000;
}
/* pay bill section */
.paybills {
  background-color: #00baf2;
  color: #ffffff;
  margin-top: 100px;
  padding: 80px 10px;
}
.paybills h1 {
  font-size: 50px;
}
.services {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 220px;
  height: 270px;
}
.card p {
  font-size: 20px;
  font-weight: 500;
}
.card p i {
  position: relative;
  left: 10px;
}
img[alt="card"] {
  width: 100px;
}
.card:hover {
  background-color: #00afe3;
  border-radius: 30px;
}
/*  book n buy section */
.booknbuy {
  background-color: #0f4a8a;
  color: #ffffff;
  padding: 80px 10px;
}
.booknbuy h1 {
  font-size: 50px;
}
#card2:hover {
  background-color: #0d3e80;
  border-radius: 30px;
}
/* Paymetn instrument section */
.paymentinstruments {
  background-color: #f6f6f6;
  padding: 100px 20px 100px 20px;
}
.paymentinstruments h1 {
  font-size: 65px;
}
/* paytm wallet and upi money section */
.instrument {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px;
  padding: 80px 0px 80px 30px;
  border-radius: 25px;
}
img[alt="walletimage"] {
  width: 700px;
}
.instrument .left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
img[alt="walletlogo"] {
  width: 100px;
}
.instrument .left .heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
.instrument .left .heading p {
  font-size: 22px;
  font-weight: 600;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.info h2 {
  font-size: 50px;
}
.info p {
  font-size: 22px;
  font-weight: 500;
}

/* paytm postpaid section */
img[alt="postpadilogo"] {
  width: 230px;
  margin-bottom: 20px;
}
img[alt="postpaidimg"] {
  width: 600px;
}
.paytmpostpaid {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px;
  padding: 80px 0px 80px 30px;
  border-radius: 25px;
}
.paytmpostpaid .left {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 30px;
}
.paytmpostpaid h2 {
  font-size: 50px;
}
.paytmpostpaid p {
  font-size: 22px;
  font-weight: 500;
}
.learnmore a {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 20px;
  background-color: #203569;
  padding: 15px 30px;
  border-radius: 40px;
}

.learnmore a:hover {
  background-color: #00baf2;
}

/* bank  section */
.bank {
  display: flex;
  margin: 60px;
  gap: 65px;
}
.bank h1 {
  font-size: 50px;
}

/* hdfc section */
img[alt="paytmhdfclogo"] {
  width: 250px;
}
img[alt="hdfccard"] {
  width: 600px;
}

.hdfc {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 48%;
  /* margin-left: 65px; */
  padding: 70px;
  background-color: #ffffff;
  border-radius: 30px;
}
.hdfc p {
  font-size: 27px;
  font-weight: 500;
}
/* sbi card section */
img[alt="paytmsbilogo"] {
  width: 250px;
}
img[alt="sbicard"] {
  width: 600px;
}

.sbi {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 47%;
  padding: 70px;
  padding-top: 140px;
  background-color: #ffffff;
  border-radius: 30px;
}
.sbi p {
  font-size: 27px;
  font-weight: 500;
}
/* financial services heading */
.financialservices {
  font-size: 35px;
  margin: 150px 0px 20px 70px;
}
/* paytmpaymentsbank secction */
.paytmpaymentsbank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
}
img[alt="paymentsbanklogo"] {
  width: 250px;
  position: relative;
  bottom: 40px;
}
img[alt="paytmpaymentsimage"] {
  width: 550px;
}
.paytmpaymentsbank .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.paytmpaymentsbank .left h1 {
  font-size: 50px;
}
.paytmpaymentsbank .left p {
  font-size: 27px;
  font-weight: 400;
}
/*  Paytmmoney section */
img[alt="paytmmoneyimg"] {
  width: 550px;
}
img[alt="paytmmoney"] {
  width: 250px;
}
.paytmmoney {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  background: url(/ASSets/gray-spike.webp);
  background-position: bottom;
  background-size: contain;
  padding: 100px;
}
.paytmmoney .left {
  background-color: transparent;
}
.paytmmoney .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
  background-color: transparent;
}
.paytmmoney .right h1 {
  font-size: 50px;
}
.paytmmoney .right p {
  font-size: 27px;
  font-weight: 400;
}
/* paytm insaurance section */
.paytminsaurance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  margin-top: 50px;
}
img[alt="insurancelogo"] {
  width: 250px;

}
img[alt="insaurance"] {
  width: 550px;
}
.paytminsaurance .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.paytminsaurance .left h1 {
  font-size: 50px;
}
.paytminsaurance .left p {
  font-size: 27px;
  font-weight: 400;
}
/*  paytm personal loan section */
.personalloan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  margin-top: 50px;
  background-color: #F5F7FA;
  padding-top: 100px;
}
img[alt="loanlogo"] {
  width: 250px;

}
img[alt="loanimage"] {
  width: 550px;
}
.personalloan .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.personalloan .right h1 {
  font-size: 50px;
}
.personalloan .right p {
  font-size: 27px;
  font-weight: 400;
}
/* Accept online payment section */
img[alt="itemimage"]{
  width: 550px;
}
.buisnesservices{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 150px 50px;

}
.buisnesservices h1{
  font-size: 70px;
}
.buisnesservices .item{
  display: flex;
  justify-content: space-between;
  background-color: #F5F7FA;
  padding: 100px 0px 100px 150px;
  border-radius: 30px;
  align-items: center;
}
.buisnesservices .item .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}
.buisnesservices .item .left h1{
  font-size: 55px;
}
.buisnesservices .item .left p{
  font-size: 25px;
  font-weight: 400;
}
/* buisness tools section */

img[alt="buisnessitem"]{
  width: 320px;
}
.buisnesstools{
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 70px;

}
.buisnesstools h1{
  font-size: 55px;
}
.buisnesstools .items{
  display: flex;
  gap: 100px;
}
.buisnesstools .items .item{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.buisnesstools .items .item h2{
  font-size: 40px;
}
.buisnesstools .items .item p{
  font-size: 28px ;
}
.buisnesstools .items .item .learnmore2 p {
  
  font-size: 20px;
  font-weight: 600;
}
.learnmore2{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}
.learnmore2:hover{
 gap: 20px;
}




